# Default owner for everything
* @KylieBenfield

# Librarian docs
/src/content/docs/librarians/ @hardcoverapp/librarians

# API docs
# /src/content/docs/api/ @hardcoverapp/developers
/src/content/docs/api/ zivoy

# Showcase
# /src/content/docs/showcase/ @hardcoverapp/developers
