---
import {Code, Tabs, TabItem} from '@astrojs/starlight/components';
import {GraphQLRunner} from './GraphQLRunner.tsx';

const {query, canTry = true} = Astro.props;
---

<Tabs>
    <TabItem label="Query" icon="document">
        <a href="https://cloud.hasura.io/public/graphiql?endpoint=https://api.hardcover.app/v1/graphql"
           target="_blank" class="mb-4 block">GraphQL Console</a>

        <Code lang="graphql" title="Example Query" code={query}/>
    </TabItem>
    {canTry && (
            <TabItem label="Try it Yourself" icon="seti:graphql">
                <div class="not-content">
                    <GraphQLRunner query={query} client:only="react" />
                </div>
            </TabItem>
    )}
</Tabs>
