---
import {Aside, Badge} from '@astrojs/starlight/components';
import type {FrontmatterConfig} from '../types';

const {
    author,
    banner,
    category,
    description,
    draft,
    editUrl,
    head,
    hero,
    lastUpdated,
    next,
    pagefind,
    prev,
    sidebar,
    slug,
    template,
    title,
} = Astro.props.frontmatter as FrontmatterConfig;

const UCFirst = (str: string) => {
    return str.charAt(0).toUpperCase() + str.slice(1);
};
---

<div class="flex flex-auto flex-row justify-between mb-4">
    <p class="text-sm inline-block self-start">
        {lastUpdated && (
                <>Last updated on {new Date(lastUpdated).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })}</>
        )}
    </p>
    {category && (
            <Badge text={UCFirst(category)} variant="note" class="w-fit"/>
    )}
</div>

<Aside type="caution" title="Disclaimer">
    This API is currently in development and may change or break at any time with out notice.
</Aside>

<slot/>